<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Html Page</title>
</head>
<body>
    <center>
        <h1 style="color:blueviolet">This is Our First Html page in Django Project</h1>
        <h1> This is rendered by using render function</h1>
        <h1>rendering is a process of interacting with template folder and
            extracting specified Html Page to Function
        </h1>
    </center>
    
</body>
</html>